<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(
            http-equiv="X-UA-Compatible",
            content="chrome=1, IE=edge")
        meta(
            name="viewport",
            content="width=device-width, user-scalable=1.0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
        title
            | App Demo what
        link(
            rel="stylesheet",
            href="css/main.min.css")
    body
        h1
            | Demo App 1
        div#wrapper
        script(src="js/main.min.js")

